<div *ngIf="isBannerHeader();" class="container-fluid">
  <div class="row justify-content-md-center bg-dark">
    <div class="col-sm text-center">
      <img height="100px" width="200px" src="../../assets/images/tech-transparent-logo.png"/>
    </div>
  </div>
</div>


<div *ngIf="isLoggedHeader();" class="pos-f-t">
  <nav class="navbar navbar-dark bg-dark"> 
      <div class="col-sm-2 text-left">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Menu Principal">
              <span class="navbar-toggler-icon"></span>
            </button>
      </div>
      <div class="col-sm-10 text-right">
        <span><label class="user-name mr-4"><b>Bem Vindo(a), {{getUserName()}}</b></label></span>
        <span><label class="user-name ml-4"><b>Sair</b></label></span>
        <span class="ml-2"><fa class="logout-icon" name="sign-out"></fa></span>
      </div>
  </nav>
  <div class="collapse" id="mainMenu">
    <div class="bg-light p-4 logged-menu-width">
      <div class="row justify-content-md-center">
        <img title="user-profile-image" alt="user" height="100px;" width="100px;" class="img-responsive img-circle mt-2" src="../../assets/images/default-profile-icon.png">
      </div>
      <div class="row justify-content-md-center mt-4">
        <span><label class="menu-label"><b>{{getUserName()}}</b></label></span>
      </div>
      <div class="row justify-content-md-center mt-2">
        <span><label class="menu-label"><b>Administrador</b></label></span>
      </div>
    </div>
  </div>
</div>

